<!doctype html>
<html lang="en">
<head>
    <title>Index</title>
    ${template "basic"}
</head>
<body class="index" id="App">
    <div class="wrap">
        <div class="top">
            <section class="mod author-talk" id="AuthorTalk">
                <div class="bd">
                    <ul></ul>
                </div>
            </section>
            <section class="mod user-talk" id="UserTalk">
                <div class="bd">
                    <ul></ul>
                </div>
            </section>
        </div>
        <div class="bottom">
            <section class="mod author-form" id="AuthorForm">
                <div class="bd">
                    <textarea class="form-control" placeholder="Author:"></textarea>
                    <button class="btn btn-primary disabled">Send</button>
                </div>
            </section>
            <section class="mod user-form" id="UserForm">
                <div class="bd">
                    <textarea class="form-control" placeholder="User:"></textarea>
                    <button class="btn btn-primary disabled">Send</button>
                </div>
            </section>
        </div>
    </div>
    <script id="Template_AuthorTalkItem" type="text/template">
        <article class="talk">
            <div class="content">{{content}}</div>
        </article>
    </script>
    <script id="Template_UserTalkItem" type="text/template">
        <article class="talk">
            <img src="{{userInfo.icon}}" alt=""/>
            <span class="name">{{userInfo.name}}</span>
            <div class="content">{{content}}</div>
        </article>
    </script>
    <script>
        _inlineRun(function(){
            require(['controller/homeCtrl']);
        })
    </script>
    ${template "import"}
</body>
</html>

